.album-list {
    width: 90%;
    margin: 0 auto;
}

.album-list-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.album {
    width: 40rem;
    height: 6rem;
    margin: 1rem;
    background-color: #1E1D1B;
    display: flex;
    align-items: center;
    position: relative;
}

.album-cover {
    width: 6rem;
    height: 100%;
}

.album-link {
    color: #fff;
    font-size: 1.3em;
    transition: all .2s;
    margin-left: 2rem;
    text-decoration: none;
}

.album-link:hover {
    transform: scale(1.1);
}

.delete-icon {
    position: absolute;
    right: 0;
    top: .7rem;
    cursor: pointer;
}